.about-me-pic {
    margin: -1.5rem 0 1rem -1.5rem;
    position: relative;
    width: 100vw;
    height: 100vw;
}

.about-me-pic img {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

div.cert-btns {
    display: flex;
    justify-content: center;
}

/* [TABLET] */
@media (min-width: 768px) {
    .about-me-pic {
        margin: -1.5rem 0 1rem -3rem;
        height: 70vw;
    }

    div#about-me .contact {
        margin: 0 -3rem;
    }
}