.about-me-pic {
    margin: -1.5rem 0 1rem -1.5rem;
    position: relative;
    width: 100vw;
    height: 100vw;
}

.about-me-pic img {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

div.cert-btns {
    display: flex;
    justify-content: center;
}