div#all-messages,
div#open-message {
    min-height: 95vh;
    overflow-y: auto;
    width: auto;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

div.messages a,
div#open-message > div {
    background-color: var(--bg0);
    color: var(--txt0);
    text-align: left;
    border-color: transparent;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.messages a h4,
div#open-message h2,
div#open-message h6 span {
    font-weight: 700;
}

div#open-message h2 {
    margin-bottom: 0;
}

div.messages a p {
    margin-bottom: 0;
}
