/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* VARIABLES: Colors | Font */
:root {
  /* --darktxt: #4E7180;
  --btn1: #FFEA20;
  --btn2: #8DCBE6;
  --blue1: #9DF1DF;
  --blue2: #E3F6FF;
  --blue3: hsl(197, 49%, 10%);
  --special: 'Lilita One', cursive;
  --special2: 'Nerko One', cursive; */
}
/* Body properties */
html, body {
	overflow-x: hidden;
	height: 100%;
}

/* Define the keyframes for the animation */
@keyframes hideScrollBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}


/* NAVBAR STARTS */

/* Logo */
#logo {
	height: 30px;
	width: auto;
}

/* Side Nav-bar Starts */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f9fa!important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 0px 8px white;
}

.sidenav a {
  padding: 0 8px 0 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav::-webkit-scrollbar { 
  display: none; 
} 


.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
button {border:none !important;}
button:focus{outline: none;}

.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
}

/* == hamburger icon */
.animated-icon span {
  background: white;
}

/* == side nav blur */
#mySidenav {
  background-color: rgba(0, 0, 0, 0.5) !important;
	backdrop-filter: blur(10px) !important;
  z-index: 100;
}

/* == hr */
#mySidenav hr {
  display: block;
  border: solid 2px white !important;
	width: 90%;
	margin: 1rem 0 1rem 0.9rem;
}

/* == paragraph */
#mySidenav p {
  color: var(--btn1);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 2rem;
}

/* == navbar width */
.navbar {
  padding-right: 1rem;
  width: 100vw;
}

.navbar-toggler {
  display: block !important;
  color: rgba(255, 255, 255, 0.5);
}

/* Side Nav-bar Ends */

/* NAVBAR ENDS */

/* LANDING STARTS */

/* Services Carousel Starts */
div.services {
  position: relative;
  width: 100%;
  height: calc(100vh - 47.29px);
}

/* Main Logo */
#main-logo {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: auto;
  justify-self: center;
}

.services .carousel-item {
  position: relative;
}

.services img {
  height: calc(100vh - 47.29px);
  width: 100%;
  object-fit: cover;
}

/* Services Carousel Ends */

/* Self Intro Starts */

div.self-intro {
  padding: 1.5rem;
}

.self-intro h1 {
  font-weight: 900;
}

.self-intro h3 {
  margin: 0;
}

.self-intro p {
  margin-top: 2rem;
  padding: 0 1rem;
  border-left: 2px solid black;
}

.self-intro-pic {
  margin-left: -1.5rem;
  position: relative;
  width: 100vw;
  height: 100vw;
}

.self-intro-pic img {
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

/* .titles {
  border-left: 2px solid black;
  padding-left: 1rem;
} */



/* Self Intro Ends */

/* LANDING ENDS */


/* FOOTER STARTS */

/* Prefooter */
div.prefooter {
    background-color: var(--blue2);
    color: var(--blue3);
    text-align: center;
    padding: 2rem 0;
  }
  
  div.prefooter > div:not(:last-child),
  div.prefooter .row div:not(:last-child) {
    margin-bottom: 10px;
  }
  
  
  div.prefooter img {
    height: 1rem;
    width: auto;
    margin-right: 5px;
  }
  
  div.prefooter a {
    text-decoration: none;
    color: var(--blue3);
  }
  
  div.prefooter a:hover {
    text-decoration: underline;
  }
  
  div.prefooter h4 {
    font-weight: 600;
  }
  
  div.prefooter p {
    margin-bottom: 0;
  }
  
  /* == Footer */
  footer {
    color: var(--darktxt);
    background-color: white;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    font-size: 0.8rem;
    line-height: 0.2rem;
    font-weight: 700;
    text-align: center;
  }
  
  footer hr {
    border-style: solid;
    border-color: var(--darktxt);
    border-radius: 5px;
    opacity: 1;
    border-width: 2px;
    margin: 0 auto;
    width: 50%;
  }

/* FOOTER ENDS */