/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* VARIABLES: Colors | Font */
:root {
  --bg0: hsl(0, 0%, 100%);
  --bg1: hsl(0, 0%, 98%);
  --bg2: hsl(0, 0%, 50%);
  --bg3: hsl(0, 0%, 25%);
  --fbg: #E3F6FF;
  --txt0: hsl(0, 0%, 10%);
  --txt1: hsl(0, 0%, 25%);
  --txt2: hsl(0, 0%, 50%);
  --txt4: white;
  /* --darktxt: #4E7180; */
  /* --btn1: #FFEA20; */
  /* --btn2: #8DCBE6; */
  /* --blue1: #9DF1DF; */
  /* --blue2: #E3F6FF; */
  /* --blue3: hsl(197, 49%, 10%); */
  /* --special: 'Lilita One', cursive; */
  /* --special2: 'Nerko One', cursive; */
}
/* Body properties */
html, body {
	overflow-x: hidden;
	height: 100%;
}

/* Define the keyframes for the animation */
@keyframes hideScrollBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}


/* NAVBAR STARTS */

/* Logo */
#logo {
	height: 30px;
	width: auto;
}

/* Side Nav-bar Starts */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f9fa!important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 0px 8px white;
}

.sidenav a,
.sidenav p {
  padding: 0 8px 0 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--txt4);
  display: block;
  transition: 0.3s;
  margin: 1rem;
}

.navgroups a {
  color: var(--txt4) !important;
  margin-left: 2.5rem;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav::-webkit-scrollbar { 
  display: none; 
} 


.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
button {border:none !important;}
button:focus{outline: none;}

.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
}

/* == hamburger icon */
.animated-icon span {
  background: #007bdf;
}

/* == side nav blur */
#mySidenav {
  background-color: rgba(0, 0, 0, 0.5) !important;
	backdrop-filter: blur(10px) !important;
  z-index: 100;
}

/* == hr */
#mySidenav hr {
  display: block;
  border: solid 2px white !important;
	width: 90%;
	margin: 1rem 0 1rem 0.9rem;
}

/* == navbar width */
.navbar {
  padding-right: 1rem;
  width: 100vw;
}

.navbar-toggler {
  display: block !important;
  color: rgba(255, 255, 255, 0.5);
}

/* Side Nav-bar Ends */

/* NAVBAR ENDS */

/* LANDING STARTS */

/* Services Carousel Starts */
div.services {
  position: relative;
  width: 100%;
  height: calc(100vh - 47.29px);
}

/* Main Logo */
#main-logo {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: auto;
  justify-self: center;
}

.service {
  /* color: #007bdf; */
  color: white;
  font-weight: 900;
  text-shadow: 0 0 10px black;
}

.service + p {
  color: #007bdf;
}

.services > img {
  filter: drop-shadow(0 0 10px black);
}

.services .carousel-item {
  position: relative;
}

.services img {
  height: calc(100vh - 47.29px);
  width: 100%;
  object-fit: cover;
}

/* Services Carousel Ends */

/* Self Intro and Skills Start */

div.dev,
div.graphic,
div.web-dev-proj,
div.graphic-proj,
div.project-list {
  min-height: 82vh;
  overflow-y: auto;
  width: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.dev > div > div,
div.graphic > div > div {
  background-color: var(--bg1);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

div.self-intro,
div.skills,
div#projects,
div.dev-project-details,
div#about-me,
div#contact-page,
div#webdev-skills,
div#graphic-skills,
div.certificates {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.self-intro h1,
div.skills h1,
div#projects h1,
div.dev-project-details h1,
div#about-me h1,
div.contact h2,
#all-messages h1,
div#webdev-skills h1,
div#graphic-skills h1 {
  font-weight: 900;
}

.self-intro h3,
#about-me h3 {
  margin: 0;
}

div.skills h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.self-intro p,
.about-me-description {
  margin-top: 2rem;
  padding: 0 1rem;
  border-left: 2px solid black;
}

.self-intro-pic {
  margin-left: -1.5rem;
  position: relative;
  width: 100vw;
  height: 100vw;
}

.self-intro-pic img {
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

div.skills-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.skills-list p {
  text-align: center;
  margin-top: 5px;
  padding: 0 1rem;
  line-height: 1rem;
}

div.skills-list > div {
  width: 50%;
}

div.skill-icon {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

div.skill-icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.other-skills {
  margin-right: 10px;
  text-align: center;
}

div.other-skills p {
  margin-bottom: 0;
}

/* .titles {
  border-left: 2px solid black;
  padding-left: 1rem;
} */

/* Self Intro and Skills End */

/* LANDING ENDS */


/* FOOTER STARTS */

/* Prefooter */
div.prefooter {
    background-color: var(--fbg);
    /* color: var(--blue3); */
    text-align: center;
    padding: 2rem 0;
  }
  
  div.prefooter > div:not(:last-child),
  div.prefooter .row div:not(:last-child) {
    margin-bottom: 10px;
  }
  
  
  div.prefooter img {
    height: 1rem;
    width: auto;
    margin-right: 5px;
  }
  
  div.prefooter a {
    text-decoration: none;
    color: var(--blue3);
  }
  
  div.prefooter a:hover {
    text-decoration: underline;
  }
  
  div.prefooter h4 {
    font-weight: 600;
  }
  
  div.prefooter p {
    margin-bottom: 0;
  }
  
  /* == Footer */
  footer {
    color: var(--darktxt);
    background-color: white;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    font-size: 0.8rem;
    line-height: 0.2rem;
    font-weight: 700;
    text-align: center;
  }
  
  footer hr {
    border-style: solid;
    border-color: var(--darktxt);
    border-radius: 5px;
    opacity: 1;
    border-width: 2px;
    margin: 0 auto;
    width: 50%;
  }

/* FOOTER ENDS */

/* GENERAL STYLING */

/* Contact Page Start */

div#contact-page > div:first-child {
  height: 30vh;
}

div#contact-page h1 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5rem;
}

p.contact-spiel {
  text-align: right;
  padding-left: 4rem;
  font-size: 1.2rem;
  margin-top: 3rem;
}

/* Contact Page End */

div.contact-component {
  padding: 1.5rem;
  padding-bottom: 0;
}

.contact-art {
  position: absolute;
  left: -25%;
  top: 0;
  height: 100%;
  object-fit: cover;
}

div.contact {
  /* background-color: hsl(0, 0%, 10%); */
  position: relative;
  background-image: linear-gradient(to bottom right, #007bdf, #b4ff51);
  color: var(--txt4);
  margin: 0 -1.5rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

/* div.contact h2 {
  color: #007bdf;
} */

p.my-email {
  font-weight: 700;
  text-align: center;
  color: var(--txt4);
}

a {
  text-decoration: none;
}

div.contact-option {
  position: relative;
  text-align: center;
}

div.contact-option hr {
  margin: 30px 0 0 0;
}

div.contact-option p {
  position: relative;
  font-size: 0.8rem;
  background-color: #007bdf;
  color: var(--txt4);
  border-radius: 5px;
  padding: 2px 10px;
  text-align: center;
  top: -15px;
  margin: 0 auto;
  width: 40%;
}

/* Skills Page Start */

div.skill-bg h4 {
  font-weight: 700;
  margin-bottom: 0;
  color: black;
}

div.skill-bg h4 img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

div.skill-bg h6 {
  margin-bottom: 0;
}

div.skill-links {
  display: flex;
  flex-direction: column;
}

div.skill-links a {
  width: 80%;
  margin: 5px auto;
}

div.skill-links + p {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  padding: 0 5rem;
  line-height: 0.8rem;
}


/* Skills Page End */


/* Certificates Start */
div.certificates > div {
  position: relative;
  width: 100%;
  min-height: 86vh;
  margin-bottom: 1rem;
}

div.certificates > div img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

div.verification p {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 0;
}

div.certificates h1 {
  font-weight: 900;
}

div.certificates + div {
  padding: 0 1.5rem;
}

/* Certificates End */

/* a[role='button']:hover {
  background-color: white;
  background-image: linear-gradient(to bottom right, #007bdf, #b4ff51);
} */

.pointer:hover {
  background-color: white;
  background-image: linear-gradient(to bottom right, #007bdf, #b4ff51);
}

input {
  margin-bottom: 10px;
}

div.form-btns {
  display: flex;
  justify-content: flex-end;
}

form button {
  margin: 20px 0 0 10px;
}

.pointer {
  cursor: pointer;
}


/* The pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.pointer:active {
  animation: pulse 0.3s ease;
}