/* Web Dev Projects Start */

div.web-dev-proj,
div.graphic-proj {
    max-height: 80vh;
    overflow-y: auto;
}

div.web-dev-proj a {
    background-color: var(--bg0);
    color: var(--txt0);
    text-align: left;
    border-color: transparent;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.graphic-proj a {
    position: relative;
    background-color: var(--bg0);
    color: var(--txt0);
    text-align: left;
    border-color: transparent;
    width: 100%;
    min-height: 100px;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.graphic-proj h4 {
    position: absolute;
    z-index: 1;
}

div.graphic-proj a img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

div.web-dev-proj > a p {
    margin-bottom: 0;
}

div.web-dev-proj > a h4,
div.graphic-proj > a h4 {
    font-weight: 700;
}

/* Web Dev Projects End */

/* Project Details Start */

div.dev-project-details { 
    min-height: 95vh !important;
}

div.dev-project-details h6 {
    padding-right: 2rem;
}

div.project-dates {
    color: var(--txt2);
}

div.project-dates p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 0;
}

div.project-dates p span {
    font-weight: 300;
}

div.project-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.project-links a {
    margin-bottom: 10px;
}

div.project-description {
    overflow-y: auto;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.project-description h3,
div.project-description h4,
div.project-description h5 {
    font-weight: 700;
}

.purpose {
    font-style: italic;
    font-size: 0.8rem;
}

.project-for {
    font-weight: 500;
}

div.project-images {
    margin: 10px -1rem;
    position: relative;
}

div.project-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.desclaimer {
    position: relative;
    background-color: rgb(250, 250, 195);
    color: var(--txt1);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}

div.desclaimer p {
    margin: 1rem 0 0 0;
}

.close-icon {
    color: rgb(90, 90, 24);
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 800;
}

/* Project Details End */